@import "bourbon/bourbon"
@import "vars"

// Section services
.services
  background: $services-bg
  color: $light-txt
  &-item
    text-align: center
    img
      margin-bottom: 5rem
    &_title
      text-transform: uppercase
      font-weight: bold
      font-size: 2rem
      margin-bottom: 2rem
    &_description
      font-size: 1.6rem
      font-weight: 300
  h2
    background-image: url("../img/icons/services-h2-line.png")
    background-repeat: no-repeat

// Section team
.team
  background: $team-bg
  h2
    background-image: url("../img/icons/team-h2-line.png")
    background-repeat: no-repeat
  h2, p.sub-heading
    color: $blue-heading

// Section skills
.skills
  background: $skills-bg
  h2
    background-image: url("../img/icons/skills-h2-line.png")
    background-repeat: no-repeat
  h2, p.sub-heading
    color: $blue-heading

// Section portfolio
.portfolio
  background: $portfolio-bg
  h2
    background-image: url("../img/icons/portfolio-h2-line.png")
    background-repeat: no-repeat
  h2, p.sub-heading
    color: $brown-heading

// Section reviews
.reviews
  background: $reviews-bg
  h2
    background-image: url("../img/icons/reviews-h2-line.png")
    background-repeat: no-repeat

// Section contact
.contact
  background: $contact-bg
  h2
    background-image: url("../img/icons/contact-h2-line.png")
    background-repeat: no-repeat

