@import "bourbon/bourbon"
@import "vars"

// Section services
.services
  background: $services-bg
  color: $light-txt
  &-item
    text-align: center
    img
      margin-bottom: 5rem
    &_title
      text-transform: uppercase
      font-weight: bold
      font-size: 2rem
      margin-bottom: 2rem
    &_description
      font-size: 1.6rem
      font-weight: 300
  h2
    background-image: url("../img/icons/services-h2-line.png")
    background-repeat: no-repeat

// Section team
.team
  background: $team-bg
  &-member
    text-align: center
    color: $blue-heading
    font-size: 1.6rem
    &_photo
      margin: 0 auto 4rem
      @include border-radius(50%)
      max-width: 20rem
      img
        width: 100%
        @include border-radius(50%)
    &_name
      font-size: 2rem
      text-transform: uppercase
      margin-bottom: 1rem
      font-weight: bold
    &_position
      margin-bottom: 2.5rem
      color: $contact-btn
    &_intro
      margin-bottom: 3rem
      font-weight: 300
    &_social
      display: table
      margin: 0 auto
      font-size: 0
      li
        display: inline-block
        margin-right: 1.2rem
        &:last-child
          margin-right: 0
      a
        display: block
        width: 3.2rem
        height: 3.2rem
        font-size: 1rem
        background: url("../img/icons/team-social-sprite.png") no-repeat
        &.fb
          background-position: .0rem .0rem
        &.tw
          background-position: -4.4rem .0rem
        &.ln
          background-position: -8.7rem .0rem
        &.mail
          background-position: -13.1rem .0rem
  h2
    background-image: url("../img/icons/team-h2-line.png")
    background-repeat: no-repeat
  h2, h3.sub-heading
    color: $blue-heading

// Section skills
.skills
  background: $skills-bg
  // Progressbar
  .skill-wrapper
    text-align: center
  .skill-bar
    margin: .6rem .6rem 2rem
    display: inline-block
    position: relative
    text-align: center
    line-height: 1.2
    canvas
      vertical-align: top
    strong
      position: absolute
      font-weight: 300
      top: 25%
      left: 0
      width: 100%
      text-align: center
      font-size: 5rem
    strong i
      font-style: normal
      font-size: 3.2rem
      font-weight: normal
    span
      display: block
      font-weight: bold
      color: $blue-heading
      font-size: 2.4rem
      text-transform: uppercase
      margin-top: 1.2rem

  h2
    background-image: url("../img/icons/skills-h2-line.png")
    background-repeat: no-repeat
  h2, h3.sub-heading
    color: $blue-heading

// Section portfolio
.portfolio
  background: $portfolio-bg
  h2
    background-image: url("../img/icons/portfolio-h2-line.png")
    background-repeat: no-repeat
  h2, h3.sub-heading
    color: $brown-heading

// Section reviews
.reviews
  background: $reviews-bg
  h2
    background-image: url("../img/icons/reviews-h2-line.png")
    background-repeat: no-repeat

// Section contact
.contact
  background: $contact-bg
  h2
    background-image: url("../img/icons/contact-h2-line.png")
    background-repeat: no-repeat

